# Git files
.git/
.gitignore

# Editor/IDE specific
.editorconfig
.idea/
.vscode/

# Node/NPM specific
node_modules/
npm-debug.log*

# Angular build output and cache
dist/
tmp/
.angular/cache/

# Log files (if any frontend logs are generated locally)
*.log
logs/

# Documentation (usually safe to exclude from build context)
*.md

# Local environment variables
.env*

# OS specific
.DS_Store
Thumbs.db

coverage/
junit/
